
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  
  body {
    margin: 0;
    padding: 0;
  }
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  p {
    margin: 0;
  }
  
  /* ---- layout ---- */
  
  html,
  body {
    height: 100vh;
    overflow: hidden;
  }
  
  .container {
    margin: 0 20px;
  }
  
  @media (min-width: 768px) {
    .container {
     
      margin: 0 auto;
    }
  }
  
  /* ---- components ---- */
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;

  }
  
  .game header {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .game .lives {
    flex: 1;
  }
  
  .game .score {
    flex: 1;
  }
  
  .game .label {
    font-weight: bold;
  }
  
  .game .value {
    font-style: italic;
  }
  
  .game .canvas-container {
    
    flex: 1;
    background: transparent;
   /* // background-image: url("../styles/images/Background.png");// */
    background-image: url("../styles/images/Pokemon\ stadium\ Gran.png"); 
    background-size: cover;
    
  }

.startGame{
    background-image: url("../styles/images/Pokemon\ stadium\ Gran.png"); 
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: 0%;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;

}

.selectPlayer{

    display: flex;
}

.characterP1{

    display: flex;
    flex-direction: column;
                
}


.characterP2{

    display: flex;
    flex-direction: column;

}

.h1{

    font-size: 200px;
    color: rgb(223, 5, 5);
    letter-spacing: 2cm;

}

#start{

    width: 600px;
    height: 50px;
    font-size: 24px;
    letter-spacing: 1mm;
    background-color:white ;
}


  
  #start:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  
 .selectPlayer{
     margin-top: 100px;
 }


  .characterP1{

    width: 600px;
    height: 50px;
    font-size: 24px;
    letter-spacing: 1mm;
    background-color:white ;
    margin-left: 25px;

}

.characterP1:hover {

    background-color: #e60303; /* Green */
    color: white;
      
}


.characterP2{

    width: 600px;
    height: 50px;
    font-size: 24px;
    letter-spacing: 1mm;
    background-color:white ;
    margin-left: 170px;


}

.characterP2:hover{

    background-color: #4c7aaf; /* Green */
    color: white;
      
}

